@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: #0d0d0d;
  background: white;
  
}
input, select, textarea {
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto oscuro para contraste */
}

input:focus, select:focus, textarea:focus {
  background-color: #fff; /* Fondo blanco también en foco */
  border-color: #f00; /* Por ejemplo, borde rojo en foco */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
